<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="springTest.User" id="user" init-method="start" destroy-method="stop">
        <property name="name" value="波波烤鸭"></property>
        <property name="id" value="123"></property>
    </bean>

    <!-- 注册InstantiationAwareBeanPostProcessor对象 -->
    <bean class="springTest.MyInstantiationAwareBeanPostProcessor"></bean>
</beans>